footer {
	background-color: #E3E3E3;
	padding: 24px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: relative;

	@media only screen and (max-width: 600px) {
		flex-direction: column;
	}

	// left div
	.left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media only screen and (max-width: 600px) {
			height: 170px;
			padding-bottom: 24px;
		}

		a {
			border: 1px solid #000000;
			padding: 8px;
			color: black;

			&:hover {
				background-color: black;
				color: white;
				text-decoration: none;
			}
		}
	}

	// right div
	.right {
		display: flex;
		flex-direction: row;

		margin-right: 50px;

		p {
			position: absolute;
			top: 50%;
			right: -12px;
			transform: rotate(90deg);
		}
	}

	.clock {
		width: 200px;
		height: 200px;

		position: relative;

		polygon#Page-1{
			fill: black;
		}

		.hand {
			position: absolute;
			width: 1px;
			height: 50px;
			background-color: white;

			bottom: 100px;
			left: 99px;
			transform-origin: 50% 100%;
		}
		.minute {
			height: 60px;
		}

		.second {
			height: 70px;
			background-color: #989898;
		}

		.bg {
			width: 200px;
			height: 200px;
		}
	}
}
