section {
	position: relative;
	border-bottom: 1px solid black;
	overflow: hidden;
	height: 80px;
	opacity: 1;

	animation-name: load;
	animation-duration: 5s;
	animation-delay: 650ms;
	animation-fill-mode: forwards;
	transition: animation cubic-bezier(0.455, 0.03, 0.515, 0.955);

	background-color: white;

	::-webkit-scrollbar {
	    display: none;
	}

	.title {
		border-bottom: 1px solid black;
		margin: 0 -24px;
		padding: 0 24px;

		@media only screen and (max-width: 768px) {
			margin: 0 0;
			padding: 0 0;
		}
	}


	.wrapper {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		align-content: flex-start;

		padding: 38px 0;

		@media only screen and (max-width: 768px) {
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			padding: 28px 0 !important;
		}

		&:hover {
			cursor: move;
		}


	    &.move-me {
	      transition: transform 800ms ease-out;
	      padding: 38px 60px;
	    }

		&.so-long {
			transform: translateX(-3%) !important;
			transition: 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}

		.information, .nameCard {
			flex: 1 0 500px;
			align-self: center;
			padding: 0 32px;

			@media only screen and (max-width: 768px) {
				flex: 1 0 320px;
			}
		}

		.nameCard {
			h2 {
				text-align: center;
			}
		}

		img {
			padding: 0 32px;
		}

		img.footnote {
	    max-width: 200px;
			align-self: flex-end;
		}
	}

	.about {
		padding: 24px 24px 0 24px;
	}

	&.broachedCommissions {
		background-color: #E3E3E3;
		.logo {
			h1 {
				color: white;
				background-color: black;
			}
		}

		.currentlyShowing, .sales {
			.content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 325px;

				a {
					border: 1px solid #000000;
					padding: 8px;
					color: black;

					&:first-child {
						margin-right: 12px;
					}

					&:hover {
						background-color: black;
						color: white;
						text-decoration: none;
					}
				}
			}
		}

		.currentlyShowing {
			display: flex;
		    padding: 0 32px;
			flex: 1 0 700px;
			height: 260px;

			.image {
				padding: 0 32px;
			}
		}

		.sales {
			display: flex;
		    padding: 0 32px;
		    height: 260px;

			.content {
				p {
					padding-top: 62px;
				}
			}

			.links {
				display: flex;
			}
		}
	}

	.clock {
		width: 260px;
		height: 260px;

		position: relative;

		.hand {
			position: absolute;
			width: 1px;
			height: 50px;
			background-color: #231C08;

			bottom: 125px;
			left: 125px;
			transform-origin: 50% 100%;
		}
		.minute {
			height: 90px;
		}

		.second {
			height: 100px;
			background-color: white;
		}

		.bg {
			width: 260px;
			height: 260px;
		}
	}
}
