body {
	background-color: white;
	overflow-x: hidden;
	background-color: #E3E3E3;
	opacity: 0;

	animation-name: fade;
	animation-delay: 140ms;
	animation-duration: 400ms;
	animation-fill-mode: forwards;

}

img {
	width: 100%;
	max-height: 260px;
}

@keyframes load {
	0% {
		height: 80px;
	}
	100% {
		height: 418px;
		box-shadow: 0;
	}
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
