h1 {
	font-family: Arial;
	font-size: 64px;
	line-height: 1;
	margin: 0;
	padding: 8px 24px;
	text-transform: uppercase;
	color: #000000;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	@media only screen and (max-width: 768px) {
		font-size: 38px;
		padding: 8px 8px;
	}
}

h2 {
	font-family: Arial;
	font-size: 48px;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	color: #000000;

	@media only screen and (max-width: 768px) {
		font-size: 28px;
		padding: 8px 8px;
	}
}

h3 {
	font-family: Arial;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
	color: #000000;
}

p {
	font-family: Arial;
	font-size: 15px;
	line-height: 1.4;
	margin: 0;
	color: #000000;
}
